APP_GATEWAY_BACKEND_POOL_NAME="DEV-KRISPLUS-CHATGPT-POOL"
APP_GATEWAY_EXISTING_UAMI_NAME="KP_NonProd_AppGw_KV_MI"
APP_GATEWAY_HOSTNAME="stg-chatgpt.nonprod-krispay.com"
APP_GATEWAY_HTTP_SETTINGS_NAME="STG-KRISPLUS-CHATGPT-HTTPSetting"
APP_GATEWAY_LISTENER_NAME="STG-KRISPLUS-CHATGPT-LISTENER"
APP_GATEWAY_NAME="DEVUAT-ASE-APPGWV2-03"
APP_GATEWAY_RULE_NAME="STG-KRISPLUS-CHATGPT-RULE"
APP_GATEWAY_SSL_CERT_NAME="nonprodkrispaydotcom-sectigo-Expiry-2026"
APP_GATEWAY_SUBNET_NAME="DEVUAT-APPGWV2-SUBNET"
APP_GATEWAY_VNET_NAME="DEVUAT-APP-VNET"
APP_GATEWAY_VNET_RESOURCE_GROUP="DEVUAT-ASE-RG"
AZURE_ENV_NAME="stg"
AZURE_LOCATION="southeastasia"
AZURE_RESOURCE_OPENAI_APPS_POC_ID="/subscriptions/9048e167-320c-4204-8671-f4bf4557b1d5/resourceGroups/DEVUAT-KRISPLUS-CHATGPT-RG/providers/Microsoft.App/containerApps/stg-krisplus-chatgpt-app"
AZURE_SEARCH_ENDPOINT="https://stg-kp-search.search.windows.net"
AZURE_SEARCH_SERVICE_NAME=stg-kp-search.search
AZURE_SEARCH_RESOURCE_GROUP=STG-ASE-RG
AZURE_SEARCH_DEALS_INDEX="chatgpt-deal-index"
AZURE_SEARCH_MERCHANT_INDEX="chatgpt-merchant-index"
AZURE_SEARCH_PRIVILEGE_INDEX="chatgpt-privielge-index"
AZURE_SUBSCRIPTION_ID="9048e167-320c-4204-8671-f4bf4557b1d5"
CONTAINER_CPU=0.5
CONTAINER_MEMORY=1.0Gi
CONTAINER_MIN_REPLICAS=1
CONTAINER_MAX_REPLICAS=3
CONTAINER_APP_ENVIRONMENT_EXISTS="false"
CONTAINER_APP_ENVIRONMENT_NAME="STG-KRISPLUS-CHATGPT-CONTAINER-ENV"
CONTAINER_APP_ENVIRONMENT_RESOURCE_GROUP_NAME=STG-KRISPLUS-CHATGPT-RG
CONTAINER_APP_NAME="stg-krisplus-chatgpt-app"
CONTAINER_APP_SUBNET_ADDRESS_PREFIX="<Enter actual /27 CIDR here>"
CONTAINER_APP_SUBNET_NAME="KRISPLUS-CHATGPT-STG-SUBNET"
LOG_WORKSPACE_NAME="stg-workspace"
LOG_WORKSPACE_RG="DEVUAT-ASE-RG"
NODE_ENV="staging"
RESOURCE_GROUP_NAME="STG-KRISPLUS-CHATGPT-RG"
SHARED_CONTAINER_REGISTRY_EXISTS="true"
SHARED_CONTAINER_REGISTRY_LOGIN_SERVER="krisplusregistry.azurecr.io"
SHARED_CONTAINER_REGISTRY_NAME="krisplusregistry"
SHARED_CONTAINER_REGISTRY_RESOURCE_ID="/subscriptions/9048e167-320c-4204-8671-f4bf4557b1d5/resourceGroups/SHARED-KRISPLUS-CHATGPT-RG/providers/Microsoft.ContainerRegistry/registries/krisplusregistry"
SHARED_LOCATION="southeastasia"
SHARED_RESOURCE_GROUP_NAME="SHARED-KRISPLUS-CHATGPT-RG"
STATIC_API_URL="https://stg-static-content.nonprod-krispay.com"
VITE_KRISPLUS_UNIVERSAL_LINK="https://ca-stg.nonprod-krispay.com"
WIDGET_CSP_CONNECT_DOMAINS="https://ca-stg.nonprod-krispay.com"
WIDGET_CSP_RESOURCE_DOMAINS="https://stg-static-content.nonprod-krispay.com"
WIDGET_DOMAIN="https://stg-krisplus-chatgpt.nonprod-krispay.com"
